@{
    ViewData["Title"] = "Convenience Store";
}



<div class="cardBox">


    <div class="card" onclick="location.href='@Url.Action("Index", "Categories")'">

        <div class="contentBox"></div>
        <div class="iconBx">
            <a asp-area="" asp-controller="Categories" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list-check text-white" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                </svg>
            </a>
        </div>
        <div class="text-uppercase d-flex justify-content-center">
            <a class="text-white font-weight-bold" style="text-decoration: none;" asp-controller="Categories" asp-action="Index">Categories</a>
        </div>
        <div class="text-white font-weight-bold mt-3 d-flex justify-content-center">
            <div class="card-body row mt-2">
                <div class="col-md">
                    <p> <a class="text-white" asp-area="" asp-controller="Categories" asp-action="Create">New Category</a></p>
                </div>
                <div class="col-md">
                    <p>   <a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Categories" asp-action="EditCategory">Edit Category</a></p>
                </div>
                <div class="col-md">
                    <p>   <a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Categories" asp-action="DeleteCategory">Delete Category</a></p>
                </div>
                <div class="col-md">
                </div>
            </div>
        </div>
    </div>

    <div class="card" onclick="location.href='@Url.Action("Index", "Brands")'">

        <div class="contentBox"></div>
        <div class="iconBx">
            <a asp-area="" asp-controller="Brands" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-flag text-white" viewBox="0 0 16 16">
                    <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z" />
                </svg>
            </a>
        </div>
        <div class="text-uppercase d-flex justify-content-center">
            <a class="text-white font-weight-bold" style="text-decoration: none;" asp-area="" asp-controller="Brands" asp-action="Index">Brands</a>
        </div>
        <div class="text-white font-weight-bold mt-3 d-flex justify-content-center">
            <div class="card-body row">
                <div class="col">
                    <div class="col-md">
                        <p> <a class="text-white" asp-area="" asp-controller="Brands" asp-action="Create">New Brand</a></p>
                    </div>
                    <div class="col-md">
                        <p>   <a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Brands" asp-action="SelectEditBrand">Edit Brand</a></p>
                    </div>

                </div>
                <div class="col">
                    <div class="col-md">
                        <p>   <a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Brands" asp-action="SelectDeleteBrand">Delete Brand</a></p>
                    </div>
                    <div class="col-md">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card" onclick="location.href='@Url.Action("Index", "Products")'">

        <div class="contentBox"></div>
        <div class="iconBx">
            <a asp-area="" asp-controller="Products" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-balloon text-white" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 9.984C10.403 9.506 12 7.48 12 5a4 4 0 0 0-8 0c0 2.48 1.597 4.506 4 4.984ZM13 5c0 2.837-1.789 5.227-4.52 5.901l.244.487a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.244-.487C4.789 10.227 3 7.837 3 5a5 5 0 0 1 10 0Zm-6.938-.495a2.003 2.003 0 0 1 1.443-1.443C7.773 2.994 8 2.776 8 2.5c0-.276-.226-.504-.498-.459a3.003 3.003 0 0 0-2.46 2.461c-.046.272.182.498.458.498s.494-.227.562-.495Z" />
                </svg>
            </a>
        </div>
        <div class="text-uppercase d-flex justify-content-center">
            <a class="text-white font-weight-bold" style="text-decoration: none;" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
        </div>
        <div class="text-white font-weight-bold mt-3 d-flex justify-content-center">
            <div class="card-body row">
                <div class="col-md">
                    <p> <a class="text-white" asp-area="" asp-controller="Products" asp-action="Create">New Product</a></p>
                </div>
                <div class="col-md">
                    <p>   <a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Products" asp-action="SelectEditProduct">Edit Product</a></p>
                </div>
                <div class="col-md">
                    <p>   <a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Products" asp-action="SelectDetailProduct">Product Details</a></p>
                </div>
                <div class="col-md">
                    <p>   <a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Products" asp-action="SelectDeleteProduct">Delete Product</a></p>
                </div>
            </div>
        </div>
    </div>






    <div class="card" onclick="location.href='@Url.Action("Index", "Inventories")'">

        <div class="contentBox"></div>
        <div class="iconBx">
            <a asp-area="" asp-controller="Inventories" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-archive text-white" viewBox="0 0 16 16">
                    <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                </svg>
            </a>
        </div>
        <div class="text-uppercase d-flex justify-content-center">
            <a class="text-white font-weight-bold" style="text-decoration: none;" asp-area="" asp-controller="Inventories" asp-action="Index">Inventory</a>
        </div>
        <div class="text-white font-weight-bold mt-3 d-flex justify-content-center">
            <div class="card-body row">
                <div class="col-md">
                    <p> <a class="text-white" asp-area="" asp-controller="Inventories" asp-action="Create">Add Product to Inventory</a></p>
                </div>
                <div class="col-md">
                    <p><a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Inventories" asp-action="SelectDetails">Products Detail from Inventory</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" onclick="location.href='@Url.Action("Index", "Stores")'">

        <div class="contentBox"></div>
        <div class="iconBx">
            <a asp-area="" asp-controller="Stores" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-shop-window text-white" viewBox="0 0 16 16">
                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z" />
                </svg>
            </a>
        </div>
        <div class="text-uppercase d-flex justify-content-center">
            <a class="text-white font-weight-bold" style="text-decoration: none;" asp-area="" asp-controller="Stores" asp-action="Index">Store</a>
        </div>
        <div class="text-white font-weight-bold mt-3 d-flex justify-content-center">
            <div class="card-body row">
                <div class="col-md">
                    <p> <a class="text-white" asp-area="" asp-controller="Stores" asp-action="Create">Add Product to Store</a></p>
                </div>
                <div class="col-md">
                    <p><a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Stores" asp-action="SelectDetails">Product Details from Store</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" onclick="location.href='@Url.Action("Index", "Sales")'">

        <div class="contentBox"></div>
        <div class="iconBx">
            <a asp-area="" asp-controller="Sales" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bag-check text-white" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg>
            </a>
        </div>
        <div class="text-uppercase d-flex justify-content-center">
            <a class="text-white font-weight-bold" style="text-decoration: none;" asp-area="" asp-controller="Sales" asp-action="Index">Sales</a>
        </div>
        <div class="text-white font-weight-bold mt-3 d-flex justify-content-center">
            <div class="card-body row">
                <div class="col-md">
                    <p> <a class="text-white" asp-area="" asp-controller="Sales" asp-action="Create">Register a Product Sale</a></p>
                </div>
                <div class="col-md">
                    <p><a class="text-white d-flex justify-content-center" asp-area="" asp-controller="Sales" asp-action="SelectDetails">Product Details from Sale</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" onclick="location.href='@Url.Action("Index", "Reports")'">

        <div class="contentBox"></div>
        <div class="iconBx">
            <a asp-area="" asp-controller="Reports" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-clipboard-data text-white" viewBox="0 0 16 16">
                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                </svg>
            </a>
        </div>
        <div class="text-uppercase d-flex justify-content-center">
            <a class="text-white font-weight-bold" style="text-decoration: none;" asp-area="" asp-controller="Reports" asp-action="Index">Report</a>
        </div>
        
    </div>



</div>